Package: ayao.hidedoubaopip
Name: HideDoubaoPiP
Version: 1.0.5
Architecture: iphoneos-arm64
Description: 隐藏豆包/微信输入法画中画悬浮窗。保留正常视频画中画功能。
Maintainer: ayao
Author: ayao
Section: Tweaks
Depends: mobilesubstrate
